@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <div class="welcome-banner top-banner">
        <div class="flex-class align-items-center">
        <h1>Welcome to student dashboard</h1>
        <a class="round-btn" href="/students">View student's list</a>
        </div>
    </div>
</div>
